.text-center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.bg-Black {
    background-color: rgba(0, 0, 0, 0.5);
}

.update-avatar {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.create-avatar {
    margin-top: 1.5em;
    border-radius: 50%;
    width: 10em;
    height: 12em;
}